<div>
    <h2>Feedbacks</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="feedback.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs" >
                        Create new Feedback
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="Query">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Commitment</span></th>
                    <th><span>Communication</span></th>
                    <th><span>Punctuality</span></th>
                    <th><span>Quality</span></th>
                    <th><span>Technical Knowledge</span></th>
                    <th><span>Bonus</span></th>
                    <th><span>Extra</span></th>
                    <th><span>Project</span></th>
                    <th><span>Author</span></th>
                    <th><span>Developer</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="feedback in vm.feedbacks track by feedback.id">
                    <td><a ui-sref="feedback-detail({id:feedback.id})">{{feedback.id}}</a></td>
                    <td>{{feedback.commitment}}</td>
                    <td>{{feedback.communication}}</td>
                    <td>{{feedback.punctuality}}</td>
                    <td>{{feedback.quality}}</td>
                    <td>{{feedback.technicalKnowledge}}</td>
                    <td>{{feedback.bonus}}</td>
                    <td>{{feedback.extra}}</td>
                    <td>
                        <a ui-sref="project-detail({id:feedback.project.id})">{{feedback.project.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-data-detail({id:feedback.author.id})">{{feedback.author.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="user-data-detail({id:feedback.developer.id})">{{feedback.developer.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="feedback-detail({id:feedback.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="feedback.edit({id:feedback.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="feedback.delete({id:feedback.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
