
<div>
    <h2><span>Project</span> {{vm.project.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{vm.project.name}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{vm.project.status}}</span>
        </dd>
        <dt><span>Developers</span></dt>
        <dd>
            <span ng-repeat="developers in vm.project.developers">
                <a ui-sref="user-data-detail({id: developers.id})">{{developers.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Assessors</span></dt>
        <dd>
            <span ng-repeat="assessors in vm.project.assessors">
                <a ui-sref="user-data-detail({id: assessors.id})">{{assessors.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
        <dt><span>Manager</span></dt>
        <dd>
            <a ui-sref="user-data-detail({id:vm.project.manager.id})">{{vm.project.manager.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button" ui-sref="project-detail.edit({id:vm.project.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm"> Edit</span>
    </button>
</div>
