<div ng-cloak>
	<div class = "col-xs-12">
		<h1>Busca de desenvolvedores</h1>

		<div class = "row col-xs-12 container">
		<div class="search-fields">
			<div class="form-search col-md-4">
			    <md-input-container md-no-float class="md-block">
	        		<input ng-model="vm.searchQuery.name" placeholder="Nome">
	     		</md-input-container>
	     		<md-input-container md-no-float class="md-block">
	          		<input ng-model="vm.searchQuery.skills" placeholder="Skills">
	        	</md-input-container>
	        <md-input-container class="md-block">
		          <label>Disponível</label>
		          <md-select ng-model="vm.searchQuery.available">
		            <md-option><em>Selecione</em></md-option>
		            <md-option ng-repeat="option in vm.disponibilities" ng-value="option.value">
		              {{option.text}}
		            </md-option>
		          </md-select>
		        </md-input-container>
	        </div>
	        <div class = "form-search col-md-4 col-md-offset-1">
	        	<label>Disponibilidade (horas/semana)</label>
	        	<md-slider-container>
			      <md-slider flex ng-model="vm.searchQuery.minAvailableHours" min="0" max="40" aria-label="blue" id="hour-slider" class="md-primary">
			      </md-slider>
			      <md-input-container>
			        <input flex type="number" ng-model="vm.searchQuery.minAvailableHours" aria-label="blue" aria-controls="hour-slider">
			      </md-input-container>
	    		</md-slider-container>

	    		<label>Valor máximo da hora</label>
	        	<md-slider-container>
			      <md-slider flex ng-model="vm.searchQuery.maxCostPerHour" min="0" max="100" aria-label="blue" id="blue-slider" class="md-primary">
			      </md-slider>
			      <md-input-container>
			        <input flex type="number" ng-model="vm.searchQuery.maxCostPerHour" aria-label="blue" aria-controls="blue-slider">
			      </md-input-container>
	    		</md-slider-container>
	        </div>
        </div>
        <div class = "col-xs-12">
        	<md-button class="md-primary md-raised col-xs-4 col-xs-offset-4" ng-click="searchDevs()">Buscar</md-button>
        </div>
        <div class = "col-xs-12">
			<md-table-container>
			  <table md-table multiple md-progress="promise">
			    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
			      <tr md-row>
			        <th md-column md-order-by="nameToLower"><span>Nome</span></th>
			        <th md-column md-numeric md-order-by="calories.value"><span>Email</span></th>
			        <th md-column md-numeric>Horas disponíveis</th>
			        <th md-column md-numeric>Custo inicial</th>
			        <th md-column md-numeric>Skills</th>
			      </tr>
			    </thead>
			    <tbody md-body>
			      <tr md-row md-select-id="name" md-auto-select  ng-repeat="result in vm.result" ng-show="vm.result">
			        <td md-cell>{{result.name}}</td>
			        <td md-cell>{{result.email}}</td>
			        <td md-cell>{{result.availableHoursPerWeek}}</td>
			        <td md-cell>{{result.initialCostPerHour}}</td>
			        <td md-cell>{{result.skills}}</td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>
        </div>
		</div>
	 </div>
 </div>