<div ng-cloak>
	<div class = "col-xs-12">
	<h1 class="col-xs-12 dev-search-title">Busca de desenvolvedores</h1>
	<div class = "col-md-8 col-md-offset-2 col-xs-12">
	    <input class="dev-search-input col-md-11 col-sm-11 col-xs-12" ng-model="vm.searchQuery.name" placeholder="Nome">
	    <div ng-click="searchDevs()" class="orange-search-btn col-md-1 col-sm-1 hidden-xs">
	    	<i class="glyphicon glyphicon-search"></i>
	    </div>
	    <div class="orange-search-btn col-xs-8 col-xs-offset-2 hidden-md hidden-sm hidden-lg">
	    	Buscar
	    </div>
	</div>

	<div class = "col-md-12 col-xs-12 dev-search-filters">
		<div class="col-md-3 text-center">
			<md-select ng-model="vm.searchQuery.skills" multiple="true" placeholder="Skills" class="md-no-underline">
	          <md-option ng-repeat="skill in vm.skills" ng-value="skill.name">{{skill.name}}</md-option>
        	</md-select>
		</div>
		<div class="col-md-3 text-center">
			<md-select ng-model="vm.searchQuery.available" placeholder="Disponibilidade" class="md-no-underline">
	          <md-option ng-value="true">Disponível</md-option>
	          <md-option ng-value="false">Indisponível</md-option>
        	</md-select>
		</div>
		<div class="col-md-3 text-center">
	       	<label>Disponibilidade (horas/semana)</label>
	    	<md-slider-container>
		      <md-slider flex ng-model="vm.searchQuery.minAvailableHours" min="1" max="40" aria-label="blue" id="hour-slider" class="md-primary">
		      </md-slider>
		      <md-input-container>
		        <input flex type="number" ng-model="vm.searchQuery.minAvailableHours" aria-label="blue" aria-controls="hour-slider">
		      </md-input-container>
			</md-slider-container>
		</div>
		<div class = "col-md-3 text-center">
		   	<label>Valor máximo da hora</label>
	    	<md-slider-container>
		      <md-slider flex ng-model="vm.searchQuery.maxCostPerHour" min="0" max="100" aria-label="blue" id="blue-slider" class="md-primary">
		      </md-slider>
		      <md-input-container>
		        <input flex type="number" ng-model="vm.searchQuery.maxCostPerHour" aria-label="blue" aria-controls="blue-slider">
		      </md-input-container>
			</md-slider-container>
		</div>
	</div>
		<div class = "row col-xs-12 container">
        <div class = "col-xs-12">
			<md-table-container>
			  <table md-table multiple md-progress="promise">
			    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
			      <tr md-row>
			        <th md-column md-order-by="nameToLower"><span>Nome</span></th>
			        <th md-column md-numeric md-order-by="calories.value"><span>Email</span></th>
			        <th md-column md-numeric>Horas disponíveis</th>
			        <th md-column md-numeric>Custo inicial</th>
			        <th md-column md-numeric>Skills</th>
			      </tr>
			    </thead>
			    <tbody md-body>
			      <tr md-row md-select-id="name" md-auto-select  ng-repeat="result in vm.result" ng-show="vm.result">
			        <td md-cell>{{result.name}}</td>
			        <td md-cell>{{result.email}}</td>
			        <td md-cell>{{result.availableHoursPerWeek}}</td>
			        <td md-cell>{{result.initialCostPerHour}}</td>
			        <td md-cell>{{result.skills}}</td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>
        </div>
		</div>
	 </div>
 </div>
