
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInterviewLabel">Create or edit a Interview</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.interview.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.interview.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" uib-datepicker-popup="{{dateformat}}" ng-model="vm.interview.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_report">Report</label>
            <select class="form-control" id="field_report" name="report" ng-model="vm.interview.report" ng-options="externalResource as externalResource.id for externalResource in vm.reports | orderBy:'id' track by externalResource.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_skills">Skills</label>
            <select class="form-control" id="field_skills" multiple name="skills" ng-model="vm.interview.skills" ng-options="skill as skill.id for skill in vm.skills track by skill.id"></select>
        </div>
        <div class="form-group">
            <label for="field_interviewer">Interviewer</label>
            <select class="form-control" id="field_interviewer" name="interviewer" ng-model="vm.interview.interviewer" ng-options="userData as userData.id for userData in vm.userdata track by userData.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_interviewed">Interviewed</label>
            <select class="form-control" id="field_interviewed" name="interviewed" ng-model="vm.interview.interviewed" ng-options="userData as userData.id for userData in vm.userdata track by userData.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
